<!DOCTYPE html>
<html lang='en'>

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <h1>AF Backlog</h1>
    <div class="d-inline-flex p-2 bd-highlight">
        <% feedback.forEach((feedback, index) => { %>
        <div class="card mx-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">"<%= feedback.feedback %>"</h5>
                <a href="/feedback/<%= index %>" class="btn btn-primary">Review</a>
            </div>
        </div>
        <% }) %>
    </div>
    <a href='/' class='btn btn-primary orange lighten-2'>Return</a>
</body>

</html>