<!DOCTYPE html>
<html lang='en'>

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <form action='/feedback/:index/update' method='put' id='update-feedback-form'>
        <div class='container py-5'>
            <div class='form-group action'>
                <label for='name-input'>Action Item</label>
                <textarea type='text' class='form-control' id='action-input' name='action'></textarea>
            </div>
            <button type='submit' class='btn btn-primary'>Submit</button>
            <a href='/feedback' class='btn btn-secondary'>Go Back</a>
    </form>
</body>

</html>