<form action='/users/add' method="post">
    <p>
        <label>Name</label>
        <input value='' name='Name'/>
        <label>Department</label>
        <input  value='' name='Department'/>
        <label>Position</label>
        <input  value='' name='Position'/>
        <button type='submit'>Add User</button>
    </p>
</form>