<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>

  <body>
    <div class="container">


      <% if (currentUser) { %>
      <% console.log(currentUser) %>
      <h1>Welcome <%= currentUser.name %> </h1>

      <h2>
        <a class="waves-effect waves-light btn" href="/feedback/submit">Input Customer Feedback</a>
      </h2>

      <h2>
        <a class="waves-effect waves-light btn" href="/feedback">Review Customer Feedback</a>
      </h2>

      <h2>
        <a class="waves-effect waves-light btn" href="/users">View Organisation</a>
      </h2>
      
      <% if(currentUser && currentUser.admin === "true") { %>

      <h3>Administrator Functions</h3>
      <a href="/users">Manage Users</a>
      <%  } %>
      <h2>

        <form action="/sessions?_method=DELETE" method="post">
          <input type="submit" value="Logout" class='btn btn-primary orange lighten-2'>
        </form>

        <% } else { %>
          <h1>Hello, please</h1>
        <a href="/register" class="waves-effect waves-light btn">Register</a> or <a href="sessions/new" class="waves-effect waves-light btn">Log In</a>
        <% } %>

    </div>
  </body>

</html>