<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <h1>Welcome</h1>
          <h2>Please </h2>
          <a class="waves-effect waves-light btn" href="#">Sign Up</a></h2>
          <h3>or</h3>
          <a class="waves-effect waves-light btn" href="#">Log In</a>
    </div>
  </body>
</html>