<!DOCTYPE html>
<html lang='en'>

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <form action='/register' method='post' id='create-user-form'>
        <div class='container py-5'>
            <div class='form-group name'>
                <label for='name-input'>Name</label>
                <input type='text' class='form-control' id='name-input' name='name'>
            </div>
            <div class='form-group department'>
                <label for='name-input'>Department</label>
                <textarea type='text' class='form-control' id='department-input' name='department'></textarea>
            </div>
            <div class='form-group position'>
                <label for='name-input'>Position</label>
                <textarea type='text' class='form-control' id='position-input' name='position'></textarea>
            </div>
            <button type='submit' class='btn btn-primary'>Register</button>
            <a href='/users' class='btn btn-secondary'>Go Back</a>
    </form>
</body>

</html>